.garage__top {
  display: flex;
  padding: 2rem;
  gap: 0.75rem;
  background: rgba(0, 0, 0, 0.2);
}

.garage__top__controls {
  flex: 1 1 100%;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.garage__top__controls input {
  width: auto;
}

.garage__top__controls .modify_car_color {
  width: 2.5rem;
}

.garage__top__buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;
}

.garage__top__buttons button {
  width: auto;
  padding: 0.75rem 1.25rem;
  font-size: 1.3rem;
}

.garage__top__buttons #raceBtn {
  background-color: green;
}

.garage__top__buttons #resetBtn {
  background-color: red;
  border-color: crimson;
}

.garage__top__buttons #generateBtn {
  background-color: gray;
}

.garage__top__controls .modify_car {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.car_div {
  display: flex;
  flex-direction: column;
}

.car_div__top {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.car_div__top .car_name {
  width: 12rem;
}

.car_div__body {
  border-bottom: 3px dashed #000;
  width: 85%;
}

.car_name {
  font-family: "Calligraffitti", cursive;
  font-size: 1.5rem;
  margin-right: 1rem;
}

.modify_car_name {
  border-radius: 5px;
  transform: skew(-15deg, 0deg);
}

.modify_car_color {
  appearance: none;
  background-color: transparent;
  border: none;
  width: 2rem;
  height: 2rem;
  padding: 0;
}

.modify_car_color::-webkit-color-swatch {
  border-radius: 50%;
  border: none;
}

.modify_car_color::-moz-color-swatch {
  border-radius: 50%;
  border: none;
}

.modify_car.disabled {
  opacity: 0.65;
  pointer-events: none;
}

.car_img {
  width: 10rem;
}

.garage_cars {
  padding: 0.5rem 2rem;
}

.garage_status {
  font-family: "Amatic SC", cursive;
  text-align: center;
  font-size: 1.7rem;
}

.garage__bottom {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

#next_btn {
  margin-left: 2rem;
}

button:disabled {
  cursor: none;
  background: rgba(174, 132, 26, 0.3);
}

.fa-car-side {
  position: relative;
  font-size: 3rem;
}
