* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  background-color: #181a1b;
  color: #e8e6e3;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
}

button {
  width: 5rem;
  background: goldenrod;
  color: #e8e6e3;
  font-weight: 500;
  border: 1px solid gold;
  cursor: pointer;
  font-family: "Marck Script", cursive;
  font-size: 1rem;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 10px;
  transform: skew(-5deg, 0deg);
}

button:hover {
  background: rgba(174, 132, 26, 0.3);
}

input {
  width: 5rem;
  padding: 0.5rem 0;
  background: rgba(218, 165, 32, 0.25);
  font-weight: 500;
  border: 1px solid gold;
  color: #fff;
}

.garage,
.winners {
  display: none;
  gap: 2rem;
}

.active {
  display: flex;
  flex-direction: column;
}

.navigation {
  padding: 3rem 0;
}

.navigation {
  display: flex;
  justify-content: center;
  gap: 3rem;
}

.navigation button:hover,
.navigation button.active {
  color: goldenrod;
  background: none;
  border: none;
}

.navigation button {
  background: inherit;
  border: none;
  padding: 0.5rem 0.75rem;
  font-size: 2.4rem;
  font-weight: 700;
  width: auto;
}

#mode_btn {
  justify-self: flex-end;
  justify-items: flex-end;
}

.garage_title,
.winners_title {
  font-family: "Grechen Fuemen", cursive;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.buttons button {
  padding: 0.7rem 0;
  width: 7rem;
  font-size: 1.2rem;
}
